<div class="header">
  <div class="container">
    <div class="content-wrap">

      <div class="header__logo-mark"><h1><a href="/">GoalPost</a></h1></div>



      <nav class="header__nav">

        <a href="/discover">DISCOVER</a>
        <a href="/users/signin" class="header__btn-action">Sign In</a>

      </nav>
      
    </div>
  </div>
</div>
<!-- END HEADER -->
