{{>header}}

<div class="" style="margin:auto; width:480px; padding-top:200px; text-align:center">
  <h1>404</h1>

  <iframe src="https://giphy.com/embed/a2G83cq7gotnq" width="480" height="273" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

</div>
