{{>header}}


<div class="container content-container">

  <div class="content-wrap ">


    <div class="profile__Content clearfix">

      <div class="profile__Goal-Area">

        {{>profilegoal}}

      </div>
      <!-- End Profile Goal Area-->

      {{>profileUserArea}}

    </div>

  </div>

</div>

</div>

{{>addGoalModal}}
{{>updateGoalModal}}
